In [4]:
a = [10,151,'akiki']
print(a)
a[0] = 41
print(a)

[10, 151, 'akiki']
[41, 151, 'akiki']

In [5]:
b = {15,48,'akshj'}
print(b)

{48, 'akshj', 15}

In [6]:
int(4.32)

4

In [47]:
usr = "akki"
lns = 500
print("yay " + usr + " tmne likh liye h " + str(lns) + " panne of kahani ")

yay akki tmne likh liye h 500 panne of kahani

In [12]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [13]:
print("yo")

yo

In [15]:
c = 10
print("c barabar " + str(c))

c barabar 10

In [18]:
s = 10; z = 54
print("a is {} and b is {}".format(s,z))

a is 10 and b is 54

In [20]:
s = 10; z = 54
print("a is {1} and b is {0}".format(s,z))

a is 54 and b is 10

In [21]:
a = {1,1,5,9,85,47,9}
print(a)

{1, 5, 9, 47, 85}

In [44]:
a = (1,1,5,9,85,4)
print(a)

(1, 1, 5, 9, 85, 4)

In [40]:
num = input ("enter number : ")
print (num)

In [41]:
a,b = True, False
print(a and b)

False

In [33]:
a = "ak"
b = "ak"
print(a is not b)

False

In [42]:
x = [1,5,6,"gh"]
print("gh" in x)
print(5 in x)
print(19 in x)

True
True
False

In [45]:
int(5.32)

5

In [46]:
float(5)

5.0

In [ ]:
x = 0
while x < 5:
    print("X is "+ x)
    x = x+1